*{
    margin: 0px;
    padding: 0px;
}

#navigation-barre{
    height: 70px;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

.icons{
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}